html, body{
	margin: 0;
	height: 100%;
	background-color: var(--cor-fundo);
}

html{
	scroll-behavior: smooth;
}

body{
	--cor-fundo-destaque: #131925;
	--cor-fundo: #F8F8F8;
}

a{
	text-decoration: none;
}

h1{
	font-size: 56px;
	margin: 0;
}

h2{
	font-size: 24px;
	margin: 0;
}

h3{
	font-weight: 700;
	font-size: 32px;
}

h4{
	font-size: 26px;
}

h5{
	font-size: 20px;
	margin: 3px 0 5px;
}

p{
	font-size: 16px;
	margin: 7px 0 7px 0;
}

header{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: var(--cor-fundo-destaque);
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.particles-js-canvas-el{
	position: absolute;
}

header h1{
	margin-top: 20%;
	
	color: #FFFFFF;
}

header h2{
	margin: 20px 0 30px 0;
	
	color: #C4C4C4;
}

.buttons{
	display: grid;
	grid-template-columns: repeat(3, 50px);
	grid-gap: 15px;
	z-index: 2;
}

.buttons ion-icon{
	margin: 0;
	animation-name: none;
	animation-duration: none;
	animation-iteration-count: none;
}

header a{
	margin-top: 50px;
	z-index: 2;
}

#arrow-down{
	position: relative;
	animation-name: arrow;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

main{
	margin: 100px 150px 50px 150px;
}

main div{
	margin: 60px 0 50px 0;
}

#projects{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#projects h3, p{
	align-self: start;
}

.projects-grid{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project-item{
	margin: 30px;
	height: 150px;
	width: 150px;
	position: relative;
	border-radius: 0 0px 8px 8px;
	box-shadow: 0 9px 8px #aaaaaa;
}

.project-item img{
	margin: 10%;
	width: 80%;
	height: 80%;
	object-fit: cover;
	display: block;
	position: relative;
}

.project-title{
	display: block;
	font-size: 20px;
	position: absolute;
	height: 0;
	width: 100%;
	top: 0;
	opacity: 0;
	padding-top: 30px;
	text-align: center;
	color: #000000;
	background-color: var(--cor-fundo);;
	overflow-y: hidden;
	transition: 0.8s ease;
}

.project-item:hover .project-title {
  opacity: 0.9;
  height: 40%;
}

.project-pined {
	width: 300px;
	height: 220px;
}

#curriculo div{
	margin-top: 8px;
	margin-bottom: 10px;
}

footer{
	height: 80px;
	padding: 0 50px 0 30px;
	background-color: var(--cor-fundo-destaque);
	display: flex;
	justify-content: space-between;
}

footer ion-icon{
	font-size: 24px;
}

footer .buttons{
	display: grid;
	grid-template-columns: repeat(3, 30px);
	grid-gap: 10px;
}

footer p{
	font-size: 12px;
	margin-top: 15px;
	color: #FFFFFF;
	font-style: none;
}



ion-icon{
	color: #FFFFFF;
	transition-delay: 100ms;
	font-size: 48px;
}

ion-icon:hover{
	color: #999999;
}

@keyframes arrow{
  0%   	{color:#FFFFFF;	top: 0px;}
  10%	{color:#EFF0F0; top:-3px;}
  20%  	{color:#D8D8D9; top:-6px;}
  30%  	{color:#BFBFBF; top:-9px;}
  40%  	{color:#AAAAAA; top:-12px;}
  50%	{color:#999999;	top:-15px;}
  60%	{color:#AAAAAA; top:-12px;}
  70%	{color:#BFBFBF; top:-9px;}
  80%	{color:#D8D8D9; top:-6px;}
  90%	{color:#EFF0F0; top:-3px;}
  100%	{color:#FFFFFF; top: 0px;}
}